*, *::before, *::after{
    box-sizing: border-box;
}
:root {
--gradient-background-text-color: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
--gradient-background-color: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
--primary-color: #1e30f3;
--secondary-color: #e21e80;
--gray-color: #6c757d;
--white-color: #fff;
--black-color: #000; 
--light-color: rgb(248, 249, 250);
--border-width: 1px;
--border-radius: 0.375rem;
--border-radius-lg: 0.5rem;
--body-line-height: 1.5;
--body-font-size: 1rem;
--body-font-weight: 400;
--body-font-sans-serif:"Plus Jakarta Sans";
--body-font-family: var(--body-font-sans-serif);
--body-color: #212529;
--link-color: #1e30f3;
--link-color-green: green;
--link-color-red: red;
}

html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: 100%;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.container{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 3rem;
}

.page{
    display: inline-block;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    padding: 0.35em 0.65em;
    border-radius: 0.375rem;
    color: white;
}

.bad-gradient{
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
}

.text-gradient{
    background: linear-gradient(45deg, #1e30f3 0%, #e21e80 100%);
    color: transparent;
    background-clip: text;
}

.bg-light{
    opacity: 1;
    background-color: rgba(248, 249, 250, 1);
}

.bg-primary{
    opacity: 1;
    background-color: rgba(30, 48, 243, 1);
}

.text-white{
    opacity: 1;
    color: rgba(255, 255, 255, 1);
}

.large{
    font-size: calc(1.525rem + 3.3vw);
    font-weight: 300;
    line-height: 1.2;
}

.heading {
    font-size: calc(1.425rem + 2.1vw);
    font-weight: 300;
    line-height: 1.2;
}

.bold{
    font-weight: 700;
}

/* font */

.rounded-4{
    border-radius: 1rem;
}

.rounded-3{
    border-radius: 0.5rem;
}

.light{
    font-weight: 200!important;
}

.align{
    align-items: center;
}

.center{
    text-align: center ;
}

.justify{
    justify-content: center;
}

.d-flex{
    display: flex;
}

.text-mu{
    opacity: 1;
    color: #6c757d;
}

.btn{
    --btn-bg: transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 1px solid transparent;
    color: #212529;
    background-color: transparent;
}

.btn-contact{
    color: white;
    border: 1px solid white;
}

.shadow{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.col{
    flex: 1 0 0%;
}

.col-xxl-5{
    flex: 0 0 auto;
    width: 41.666667%;
}

.col-xxl-7{
    flex: 0 0 auto;
    width: 58.333333%;
}

.col-xxl-8{
    flex: 0 0 auto;
    width: 66.666667%;
}

.bp-5{
    padding-bottom: 3rem;
}

.py-3{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-4{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.px-5{
    padding-right: 3rem;
    padding-left: 3rem;
}


.p-3{
    padding: 1rem !important;
}

.p-5{
    padding: 3rem !important;
}

.py-5{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.my-5{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.m-5{
    margin-bottom: 3rem;
}

.f-bold{
    font-weight: bolder;
}

.m-0{
    margin-bottom: 0;
}

.m-2{
    margin-bottom: 0.5rem;
}

.m-3{
    margin-bottom: 1rem;
}

.m-4{
    margin-bottom: 1.5rem;
}

.m-7{
    margin-right: 1rem;
}


/* sdfghjk */

/* Header */
.header{
    padding: 1rem 0;
}

.header_menu{
    transition: height ease 1s;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header .header_menu{
    display: flex;
    /* height: 40px; */
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
}

.header .header_list.open{
    display: block;
    /* max-height: 300px; */
}

.header .header_list{
    display: none;
    width: 100%;
    background: white;
    padding: 10px 0;
}

.nav-togg{
    display: inline-block;
}

.header .header_menu .navbaer {
    font-size: 20px;
    color: #1e30f3;
    font-weight: 700;
}

.header .header_menu .header_list li a{
    color: rgba(0, 0, 0, 0.55);
    padding: 8px !important;
    font-size: 14px;
    font-weight: 700;
}

.header-home {
    position: relative;
    list-style: none;
}

.header-item {
    position: relative;
    display: inline-block;
}

.header-arrow{
    position: absolute;
    padding-top: 40px;
}

.header-item a {
    text-decoration: none;
    color: var(--black-color);
    font-weight: bold;
}

.header-it {
    position: absolute;
    top: calc(100% - 30px);
    left: 0;
    background: var(--white-color);
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 270px;
    z-index: 1;
    opacity: 0; 
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, top 0.3s ease;
}

.header-item:hover .header-it {
    opacity: 1;
    visibility: visible;
    /* top: 100%; */
}

.header-mon {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.header-mon li {
    color: rgba(0, 0, 0, 0.55);
    padding: 8px !important;
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.header-mon li:hover {
    background: var(--link-color);
    color: var(--white-color);
}

/* resume */
.header-item {
    position: relative;
    list-style: none;
    display: inline-block;
}

.header-item a {
    text-decoration: none;
    color: var(--black-color);
    font-weight: bold;
    padding: 10px 20px;
    display: block;
}

.header-resume {
    position: absolute;
    top: 100%;
    left: -100%;
    transform: translateX(-76%); 
    z-index: 1;
    background: var(--white-color);
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 1250px;
    padding: 20px;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, top 0.3s ease;
}

.header-row{
    /* position: absolute; */
    padding-top: 40px;
    left: 0;
    right: 0;
    display: flex;
    padding-top: 1rem;
    width: 100%;
}

.header-item:hover .header-resume {
    opacity: 1;
    visibility: visible;
    /* top: 100%; */
}

.header-menucol {
    flex: 1; 
    padding: 10px;
    border-right: 1px solid #ddd;
    /* text-align: center; */
}


.header-menucol:last-child {
    border-right: none;
}

.header-title {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-title li {
    padding: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

/* .header-title li a {
    text-decoration: none;
    color: var(--black-color);
} */

.header-title li a:hover {
    background: var(--link-color);
    color: var(--white-color);
}


/* Content */
.content{
    padding: 3rem 0px;
}

.content .content_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.content_text{
    margin-bottom: 24px;
    text-transform: uppercase;
}

.content-light{
    font-size: calc(1.3rem + 0.6vw);
    color: #6c757d;
}

.content-display{
    margin: 0 0 48px;
    line-height: 1.2;
}

.content_align {
}

.content-grid {
    display: grid;
    gap: 1rem;
    margin-bottom: 1rem;
    /* justify-content: start !important; */
}

.content-bolde {
    background-color: #1a29cf;
    color: white;
    padding: 1rem 3rem;
}

.content-bolder{
    font-size: 4rem;
}

.content-dark{
    background-color: transparent;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 1rem 3rem;
}

.content_image{
    width: 100%;
    max-width: 100%;
}

.content_profile{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.content_primary{
    position: relative;
    /* margin-top: 5vw; */
    border-radius: 5vw;
    height: 75vw;
    width: 75vw;
    max-height: 40rem;
    max-width: 40rem;
}

.content-img{
    height: 80vw;
    max-height: 30rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.dots-1{
    position: absolute;
    top: 4vw;
    right: 1.5vw;
    width: 3vw;
}

.dots-1 svg{
    fill: white;
}

.dots-2{
    position: absolute;
    top: 6.05vw;
    right: -4vw;
    width: 3vw;
}

.dots-2 svg{
    fill: #1e30f3;
}

.dots-3{
    position: absolute;
    bottom: 6.05vw;
    left: 1.5vw;
    width: 3vw;
}

.dots-3 svg{
    fill: white;
}

.dots-4{
    position: absolute;
    bottom: 4vw;
    left: -4vw;
    width: 3vw;
}

.dots-4 svg{
    fill: #1e30f3;
}




/* about Me */
.about{
    background-color: rgba(248, 249, 250, 1);
    padding: 3rem 0;
}

.about .about_item{
    justify-content: center !important;
    display: flex;
    flex-wrap: wrap;
    margin: 3rem -1.5px
}

.about_center{
    max-width: 100%;
    flex: 0 0 auto;
    padding: 0 24px;
    text-align: center;
}

.about_me{
    font-weight: bold;
    margin: 0 0 8px;
}

.about-light{
    font-size: 1.25rem;
    color: #212529;
    font-weight: 200;
    line-height: 1.5;
    margin: 0 0 24px;
}

.about-text{
    color: #6c757d;
    font-weight: 400;
    margin: 0 -1rem 1rem;
}

.about-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 3rem;
}

.about-flex a{
    font-size: calc(1.325rem + 0.9vw);
}

/* footer */

.footer{
    padding: 1.5rem 0;
    margin-top: auto;
}
.footer_item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875em;
}

.footer_flex{
    padding: 0 0.12px;
}

.footer_flexlogo{
    padding: 0 0.12px;
}

.footer_flexlogo a{
    color: #1e30f3;
    font-weight: 400;
    text-decoration: underline;
}


/* header */
.navbar-toggler{
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    color: rgba(0, 0, 0, 0.55);
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.375rem;
    transition: box-shadow 0.15s ease-in-out;
    text-decoration: none;
}

.navbar-icon{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

/* reponsive  */
@media (min-width: 576px) {
    .container{
        max-width: 540px;
    }

    .header .header_menu .header_list{
        /* display: none; */
    }

    .content-grid{
        display: flex;
        justify-content: center;
    }

    .content-bolder{
        margin-right: 0.5rem;
    }

    .content-dark{
        margin-left: 0.5rem;
    }

    .content_primary{
        height: 60vw;
        width: 60vw;
    }
    .content-image{
        height: 65vw;
    }

    .content_profile{
        margin-top: 5rem;
    }

    .about .about_center{
        padding: 0 1rem;
    }

    .footer .footer_item{
        overflow: hidden;
        flex-direction: row;
    }

    .project_of{
        font-size: 1.5rem;    
    }

    .section_project .project-img{
        width: 100vw;
        height: 60vh;
    }

    .section_project .project-img img{
        width: 60vw;
        height: 60vh;
    }

    .resume-amet{
        padding: 1rem;
        font-size: 1rem;
        line-height: 1.5;
    }

    .resume-between{
        overflow: hidden;
        flex-direction: column;
    }

    .resume-primary{
        margin-bottom: 1rem;
    }

    /* .resume-download{
        padding-left: 33%;
        padding-right: 34%;
    } */

    .resume_skills{
        overflow: hidden;
        flex-direction: column;
        font-size: large;
    }

    /* .resume-ti{
        padding: 5rem;
    } */

    .row_col1 > *{
        /* flex: 0 0 auto; */
        width: 100%;
    }

    .resume-style{
        height: 100%;
        /* display: flex; */
    }

    .project-flex{
        overflow: hidden;
        flex-direction: column;
    }

    .project-fout{
        text-align: center;
    }

    .contact-w{
        width: 100%;
    }

    .content_align{
        margin-bottom: 50px;
    }
}
@media (min-width: 320px){
    .container{
        max-width: 540px;
    }

    .header .header_menu .header_list{
        /* display: none; */
    }

    /* .content-grid{
        display: flex;
        justify-content: center;
    } */

    .content-bolder{
        margin-right: 0.5rem;
        font-size: 3rem;
    }

    /* .content-dark{
        margin-left: 0.5rem;
    } */

    .content_primary{
        height: 60vw;
        width: 60vw;
    }
    .content-image{
        height: 65vw;
    }

    .content_profile{
        margin-top: 5rem;
    }

    .about .about_center{
        padding: 0 1rem;
    }

    .footer .footer_item{
        overflow: hidden;
        flex-direction:column;
    }

    .project_of{
        font-size: 1.5rem;    
    }

    .section_project .project-img{
        width: 100vw;
        height: 60vh;
    }

    .section_project .project-img img{
        width: 60vw;
        height: 60vh;
    }

    .resume-amet{
        padding: 1rem;
        font-size: 1rem;
        line-height: 1.5;
    }

    .resume-between{
        overflow: hidden;
        flex-direction: column;
    }

    .resume-primary{
        margin-bottom: 1rem;
    }

    /* .resume-download{
        padding-left: 33%;
        padding-right: 34%;
    } */

    .resume_skills{
        overflow: hidden;
        flex-direction: column;
        font-size: large;
    }

    /* .resume-ti{
        padding: 5rem;
    } */

    .row_col1 > *{
        /* flex: 0 0 auto; */
        width: 100%;
    }

    .resume-style{
        height: 100%;
        /* display: flex; */
    }

    .project-flex{
        overflow: hidden;
        flex-direction: column;
    }

    .project-fout{
        text-align: center;
    }

    .contact-w{
        width: 100%;
    }

    .content_align{
        margin-bottom: 50px;
    }
}

@media (min-width: 768px){
    .container{
        max-width: 720px;
    }

    .header .header_menu .header_list{
        /* display: none; */
    }

    .content_primary{
        height: 50vw;
        width: 50vw;
    }
    .content-image{
        height: 55vw;
    }
    .mb-md-0{
        margin-bottom: 1 !important;
    }
    .row_col2 > *{
        width: 33.33%;
    }

    .contact-px5{
        padding-right: 3rem;
        padding-left: 3rem;
    }
    .project-flex{
        display: none;
        flex-direction: row-reverse;
        align-items: center;
        text-align: left;
    }

    .section_project .project-img{
        width: 62vw;
        height: 60vh;
    }

    .content_align{
        margin-bottom: 50px;
    }

    .section_project .project-img img{
        width: 62vw;
        height: 60vh;
    }

    /* .resume-amet{
        padding: 1rem;
        font-size: 1rem;
        line-height: 1.5;
    } */

    .content_profile{
        margin-top: 5rem;
    }

    .resume-amet{
        padding: 1rem;
        font-size: 1rem;
        line-height: 1.5;
    }

    .resume-between{
        overflow: hidden;
        flex-direction: row;
    }

    .resume-primary{
        /* margin-bottom: 1rem; */
    }

    .resume_cols{
        overflow: hidden;
        flex-direction: row;
        /* font-size: large; */
    }

    /* .resume-ti{
        padding: 0 5rem;
    } */

    .row_col1 > *{
        /* flex: 0 0 auto; */
        /* width: 100%; */
    }

    .resume-style{
        height: 100%;
        /* display: flex; */
    }

    .fw-one{
        margin-bottom: 1.5rem;
    }

    .project-fout {
        text-align: left;
    }

    .footer .footer_item{
        overflow: hidden;
        flex-direction:row;
    }
}

@media(min-width: 992px){
    .container{
        max-width: 960px;
    }

    .header .header_menu .header_list{
        display: flex;
        width: auto;
    }

    .content_primary{
        height: 40vw;
        width: 40vw;
    }

    .content-image{
        height: 45vw;
    }

    .resume-col{
        width: 91%;
    }

    .resume_start{
        text-align: left !important;
        margin-bottom: 0 !important;
    }

    .resume-amet{
        width: 66.66%;
    }

    .project_11{
        width: 91%;
    }

    .contact-8 {
        width: 66.66%;
    }

    .resume-amet{
        padding: 1rem;
        font-size: 1rem;
        line-height: 1.5;
    }

    .resume-between{
        overflow: hidden;
        flex-direction: row;
    }

    .resume-primary{
        margin-bottom: 0px;
    }

    .resume_cols{
        overflow: hidden;
        flex-direction: row;
        font-size: large;
    }

    .row_col1 > *{
        /* flex: 0 0 auto; */
        /* width: 100%; */
    }

    .resume-style{
        /* height: 100%; */
        /* display: flex; */
    }

    .fw-one{
        margin-bottom: 1.5rem;
    }

    .navbar-toggler{
        display: none;
    }

    .project-flex{
        display: none;
        flex-direction: row-reverse;
        align-items: center;
        text-align: left;
    }
}

@media (min-width: 1200px){
    .container{
        max-width: 1140px;
    }

    /* .header .header_menu .header_list{
        display: none;
    } */

    .large {
        font-size: 4rem;
    }

    .heading{
        font-size: 3rem;
    }

    .content-light{
        font-size: 1.75rem;
        color: #6c757d;
    }

    .content_primary{
        height: 35vw;
        width: 35vw;
    }

    .content-img{
        height: 40vw;
    }

    .about-flex a{
        font-size: 2rem;
    }

    .content_align{
        /* width: 40%; */
        text-align: center;
    }


    .resume-col{
        width: 75%;
    }
    .resume-display{
        font-size: 3rem;
    }

    .resume-primary .resume-secondary{
        font-size: 2rem;
    }

    .resume_d {
        font-size: 1.75rem;
    }

    .project_display{
        font-size: 3rem;
    }

    .project_display h1{
        font-size: 2.5rem;
    }
    .project_9{
        width: 75%;
    }

    .project-om h2{
        font-size: 2rem;
    }

    .project_dis4{
        font-size: 3.5rem;
    }

    .project_dis4 h2{
        font-size: 2rem;
    }

    .contact_get h1{
        font-size: 2.5rem;
    }

    .contact-6{
        width: 50%;
    }
    /* .resume-amet{
        padding: 1rem;
        font-size: 1rem;
        line-height: 1.5;
    } */
}

@media (min-width: 1400px){
    .container{
        max-width: 1320px;
    }

    .navbar-toggler{
        display: none;
    }

    /* .header .header_menu .header_list{
        display: none;
    } */

    .content .content_item{
        display: flex;
        flex-direction: row;
        margin-bottom: 3rem;
    }

    /* .content_align{
        width: 40%;
        text-align: center;
    } */

    .content_image{
        width: 60%;
        padding: 0 1.5rem;
    }

    .content_profile{
        margin-top: 0;
    }

    .content_primary{
        height: 30vw;
        width: 30vw;
    }

    .content-img{
        height: 35vw;
    }

    .dots-1{
        top: 4vw;
            right: 0.75vw;
            width: 1.5vw;
    }

    .dots-2{
        top: 6.05vw;
        right: -2vw;
        width: 1.5vw;
    }

    .dots-3{
        bottom: 6.05vw;
        left: 0.75vw;
        width: 1.5vw;
    }

    .dots-4{
        bottom: 4vw;
        left: -2vw;
        width: 1.5vw;
    }

    .about_center{
        width: 66.67%;
    }

    /* resume */
    .resume-col{
        width: 66.66%;
    }

    /* Project */
    .project_8{
        width: 66.66%;
    }

    /* .resume-amet{
        padding: 1rem;
        font-size: 1rem;
        line-height: 1.5;
    } */

    .content_align{
        margin-bottom: 0px;
        text-align: left;
    }

    .content-grid {
        display: flex;
        justify-content: start;
    }

    /* .section_project .project-base .project-img{
        width: 100vw;
        height: 100vh;
    } */
}



/* Resume */

.resume{
    background-color: rgba(248, 249, 250, 1);
}

.resume-display{
    line-height: 1.2;
    font-weight: 300;
    font-size: calc(1.425rem + 2.1vw);
    margin-top: 0;
}

.resume-gradient{
    display: inline;
}

.resume-content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}

.resume-between{
    justify-content: space-between;
    margin-bottom: 1.5rem;
    display: flex;
}

.resume-primary{
    margin-top: 0;
    line-height: 1.2;
    color: #1a29cf;
}

.resume-download{
    color: white;
    background-color: #1e30f3;
    border: 1px solid #1e30f3;
    font-weight: 400;
}

.resume-download:hover{
    background-color: #1862c2;
}

.resume-inline{
    margin-right: 0.5rem;
    display: inline-block;
}

.resume-rounded{
    background-color: white;
    border-radius: 1rem;
    border: 0;
}

.resume-body{
    /* padding: 1rem 1rem; */
    flex: 1 1 auto;
}

.resume_items{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
}

.resume_start{
    width: 100%;
    max-width: 100%;
    padding-right: 1.75rem;
    padding-left: 1.75rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.resume_light{
    opacity: 1;
    padding: 1.5rem;
    background-color: rgba(248, 249, 250, 1);
}

.resume-fw{
    opacity: 1;
    color: #1a29cf;
}

.resume-small{
    font-size: 1rem;
}

.resume-amet > * {
    max-width: 100%;
    width: 100%;
    flex-shrink: 0;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-top: 0;
}

.resume-secondary{
    opacity: 1;
    color: #e21e80;
    /* margin-bottom: 1.5rem; */
    margin-top: 0;
    line-height: 1.2;
}

.resume-talic{
    font-size: italic !important;
}

.resume-sional{
    margin-bottom: 1.5rem;
    display: flex;
}

.resume-feature{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    opacity: 1;
    background-color: #1e30f3;
    color: white;
}
.resume_d{
    font-size: 2rem;
    margin-top: 0;
    line-height: 1.2;
}

.resume_in {
    display: inline!important;
}

.resume_cols{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}

.row_col1 > *{
    flex: 0 0 auto;
    /* width: 100%; */
}

.resume-style{
    /* height: 100%; */
    display: flex;
}

.fw-one{
    padding-left: 12px;
    padding-right: 12px;
}


/* Project */

.section_project{
    overflow: hidden;
}

.project{
    background-color: rgba(248, 249, 250, 1);
}

.project_display{
    font-size: 3rem;
    line-height: 1.2;
    margin-top: 0;
}

.project_inline{
    display: inline !important;
}

.project_gx{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}

.project_shadow{
    border: 0;
    overflow: hidden;
}

.project-body{
    flex: 1 1 auto;
    padding: 0 !important;
}

.project-flex{
    background-color: white;
    display: flex;
}

.project-om{
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    font-size: calc(1.325rem + 0.9vw);
}

.project-p{
    margin-top: 0;
    margin-bottom: 1rem;
}

.project-img{
    max-width: 100%;
    height: auto;
}

.project-img img{
    vertical-align: middle;
}

.project_dis4{
    line-height: 1.2;
    margin-top: 0;
    font-size: calc(1.475rem + 1.7vw);
}

.project_contact{
    font-size: 1.2rem;
}

.project-base{
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.project-img {
    display: block;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Màu đen mờ */
    transition: top 0.3s ease-in-out;
}

.project-base:hover .overlay {
    top: 0;
}

.project_new1{
    position: absolute;
    margin-top: 10px;
    padding: 0 10px;
    border: 1px solid var(--link-color-green);
    right: 10%;
    border-radius: 0.375rem;;
    font-size: 1rem;
    color: var(--link-color-green);
}

.project_hot1{
    position: absolute;
    right: 10%;
    border: 1px solid var(--link-color-red);
    border-radius: 0.375rem;;
    font-size: 1rem;
    color: var(--link-color-red);
    margin-top: 10px;
    padding: 0 10px;
}


/* contact */

.contact_feature{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}

.contact_get{
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

.content_lead{
    font-weight: 400 !important;
    font-size: 1.25rem;
    margin-top: 0;
}

.contact_row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}

.contact_row > *{
    max-width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-top: 0;
}

.contact_action{
    flex-direction: column;
    display: flex;
}

.contact-from{
    position: relative;
}

.contact-from > input{
    line-height: 20px;
    height: calc(3.5rem + 2px);
    width: 100%;
    border-radius: 0.375rem;
    padding: 1rem 0.75rem;
    border: 0.05rem solid #ccc;
    font-size: 1rem;
}

.contact-from > label{
    position: absolute;
    color: rgb(33, 37, 41);
    left: 0.75rem;
    top: calc(3.625rem* 0.5);
    transform: translateY(-50%);
}
.contact-from input:focus, .contact-from input.hasValue{
    padding: 1.625rem 2.25rem 0.625rem 0.75rem ;
}

.contact-from input:focus + label, .contact-from input.hasValue + label{
    transform-origin: left;
    transform: scale(0.85);
    left: 0.75rem;
    top: 0.5rem;
    opacity: 0.65;
    color: rgb(33, 37, 41);
}

.contact-from textarea{
    line-height: 20px;
    height: 10rem;
    min-width: 100%;
    max-width: 100%;
    border-radius: 0.375rem;
    padding: 1rem 0.75rem;
    border: 0.05rem solid #ccc;
    font-size: 1rem;
}

.contact-from textarea:focus, .contact-from textarea.hasValue{
    padding: 1.625rem 2.25rem 0.625rem 0.75rem ;
}

.contact-from textarea:focus + label, .contact-from textarea.hasValue + label{
    transform-origin: left;
    transform: scale(0.85);
    left: 0.75rem;
    top: 0.5rem;
    opacity: 0.65;
    color: rgb(33, 37, 41);
}

.contact-grid{
    display: grid !important;
}

.btn-submit{
    width: 100%;
    background-color: #6975f5;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    font-weight: 100;
    line-height: 1.5;
}

