body{
    margin: 0;
    padding: 0 auto;
    font-family: Arial, sans-serif;
}

ul, li, ol, a{
    color: black;
    list-style: none;
    text-decoration: none;
}
.container{
    width: 1320px;
    padding: 0 3rem;
    margin: 0 auto;
}
.header .header_menu{ 
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: antiquewhite; */
}

.header .header_menu .header_list{
    display: flex;
}

/* .header{
    background-color: aliceblue;
} */

.header .nav_logo{
    color: blue;
    font-weight: 600;
}

.header .header_menu .header_list a{
    padding: 10px;
}

/* Content */

.content .content_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.content_align{
    text-align: left;
}
.content_text{
    display: inline-block;
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    color: #fff;
    padding: 4px 6px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 0.75rem;
    margin-bottom: 1.5rem;
}

.content_uppercase{
    text-transform: uppercase;
}

.content-light{
    color: #6c757d;
    font-weight: 200;
    font-size: 1.75rem;
}

.content-display{
    background-image: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    color: transparent;
    background-clip: text;
    font-weight: bolder;
    font-size: 4rem;
    line-height: 1.2;
    margin-top: 0px;
    margin-bottom: 3rem;
}

.content_get{
    display: inline;
    /* background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    color: transparent;
    background-clip: text; */
}

.content-grid{
    justify-content: flex-start;
    display: flex;
    gap: 1rem;
}

.content-bolder{
    font-weight: bolder;
    font-size: 1rem;
    background-color: #1e30f3;
    color: #fff;
    border-radius: 6px;
    border: 0.8px;
}

.content-min{
    margin-right: 1rem;
    padding: 1rem 3rem;
}

.content-dark {
    border: 1px solid #212529;
    border-radius: 6px;
    font-weight: bolder;
    font-size: 1rem;
}